$border-radius: 6px;
$disabled-color: #6c757d;

@mixin box-size {
  width: 48px;
  height: 48px;
}

.custom-input-number {
  &__wrapper {
    display: inline-flex;
    padding: 8px;

    &[disabled] {
      background: #dedede;

      .custom-input-number__button {
        border: solid 1px $disabled-color;
        color: $disabled-color;
        opacity: 0.65;
        cursor: not-allowed;
      }

      .custom-input-number__input {
        border-color: $disabled-color;
        opacity: 0.65;
        color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }

  &__button {
    @include box-size;
    padding: 0;
    font-size: 16px;
    background-color: transparent;
    border: solid 1px #427af1;
    color: #427af1;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__input {
    @include box-size;
    font-size: 16px;
    margin: 0 8px;
    text-align: center;
    border: solid 1px #5e5e5e;
    box-shadow: none;
    border-radius: $border-radius;
  }

  &__errorMessage {
    color: #c71830;
    margin-top: 6px;
    min-height: 16px;
  }
}
